# Core
python-dotenv
requests
pandas

# Langchain + Ollama
langchain
langchain-ollama
langchain-community

# Neo4j Integration
neo4j

# Visualization
matplotlib
networkx
pyvis==0.3.1
altair

# Dashboard
streamlit
streamlit-autorefresh

# Optional: if using notebook-based prototyping
notebook
